node_modules
/.idea/
*.iml
.env
.env.local
.env.development
.env.production
test-results
/modules/backend/prisma/dev.db
/modules/backend/prisma/test.db
/modules/backend/test-results/
/modules/backend/dist/
/modules/backend/.turbo/
/modules/backend/prisma/:memory:
/modules/frontend/dist/
/modules/frontend/.turbo/
